/* color palette from style guide */
:root {
  --c-primary-red: hsl(1, 90%, 64%);
  --c-primary-blue: hsl(219, 85%, 26%);
  --c-neutral-white: hsl(0, 0%, 100%);
  --c-neutral-very-light-grayish-bue: hsl(210, 60%, 98%);
  --c-neutral-light-grayish-blue-1: hsl(211, 68%, 94%);
  --c-neutral-light-grayish-blue-2: hsl(205, 33%, 90%);
  --c-neutral-grayish-blue: hsl(219, 14%, 63%);
  --c-neutral-dark-grayish-blue: hsl(219, 12%, 42%);
  --c-neutral-very-dark-blue: hsl(224, 21%, 14%);
}

/* semantic color variables for this project */
:root {
  /* --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1); */

  --font-size: 16px;
  --font-family: "Plus Jakarta Sans", sans-serif, arial;
  --font-weight-normal: 500;
  --font-weight-bold: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: var(--font-size);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.5s, background-color 0.5s;
}
